<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Accord.Video.FFMPEG.x64" version="3.8.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net40" />
  <package id="EyeTribe.ClientSdk" version="0.9.77.6" targetFramework="net40" requireReinstallation="True" />
  <package id="EyeTribe.Controls" version="0.9.77.2" targetFramework="net40" requireReinstallation="True" />
  <package id="MouseKeyHook" version="5.4.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" requireReinstallation="True" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Tobii.Interaction" version="0.7.3" targetFramework="net40" requireReinstallation="True" />
</packages>